[submodule "Desktop/Kafka-projects/Desktop/Kafka-projects/stock-market-kafka-data-engineering-project"]
	path = Desktop/Kafka-projects/Desktop/Kafka-projects/stock-market-kafka-data-engineering-project
	url = https://github.com/yasmine2001el/stock-market-kafka-data-engineering-project
